            img {
                max-width: 100%;
            }
            
            html {
                font-size: 62.5%;
            }
            
            #titulo-segundario {
                color: rgb(19, 25, 78);
                text-align: center;
                font-weight: 300;
                font-size: 3rem;
            }
            
            .size-header.inicio {
                background: url(../imagenes/fondo.jpg);
                background-position: center center;
                background-size: cover;
                height: 80vh;
                min-height: 60rem;
            }
            
            .contenedor {
                max-width: 120rem;
                margin: 0 auto;
            }
            
            .contenedor2 {
                max-width: 140rem;
                margin: 0 auto;
            }
            
            .barra {
                display: flex;
                justify-content: flex-end;
                justify-content: space-between;
                padding-bottom: 1rem;
                background-color: #333333;
            }
            
            .bajo {
                padding-top: 3rem;
            }
            
            .logo-poscicion {
                width: 33rem;
                height: 7rem;
            }
            
            .links a {
                color: rgb(236, 158, 55);
                text-decoration: none;
                font-size: 2.1rem;
                margin-right: 2rem;
                font-family: fantasy;
                padding-top: 3rem;
            }
            
            .links a:hover {
                color: rgb(10, 10, 10);
            }
            
            .logos {
                display: flex;
                justify-content: space-between;
            }
            
            .icono {
                flex-basis: calc(33.3% - 1rem);
                padding-top: 2rem;
            }
            
            .relleno {
                max-width: 90rem;
                margin: 0 auto;
                padding-top: 2rem;
                text-align: center;
                font-size: 3rem;
                color: rgb(78, 19, 55);
                font-family: 'Times New Roman', Times, serif;
            }
            
            .relleno p {
                text-align: justify;
                font-family: 'Times New Roman', Times, serif;
                font-size: 2rem;
            }
            
            #titulo-terciario {
                color: rgb(19, 25, 78);
                text-align: center;
                font-size: 4rem;
                font-family: 'Times New Roman', Times, serif;
                padding-top: 13rem;
            }
            
            .anuncio {
                flex-basis: calc(33.3% - 1rem);
                border-style: double;
                border-color: black;
                border-width: 1rem;
                background: silver;
                padding: 2rem;
                margin: 0rem 2rem 0rem 3rem;
            }
            
            .productos {
                padding: 5rem;
            }
            
            .dinero {
                color: brown;
                font-weight: 700;
            }
            
            .boton {
                color: cornsilk;
                font-weight: 700;
                text-decoration: none;
                font-size: 1.7rem;
                padding: 1rem 3rem;
                text-align: center;
            }
            
            .botonn {
                color: cornsilk;
                font-weight: 700;
                text-decoration: none;
                font-size: 1.7rem;
                padding: 1rem 3rem;
                text-align: center;
                margin-bottom: 3rem;
            }
            
            .botones {
                background-color: orange;
                display: block;
            }
            
            .botones2 {
                background-color: rgb(60, 204, 60);
                border-radius: 3rem;
            }
            
            .alineadoizquierda {
                display: flex;
                justify-content: center
            }
            
            .fondo-de-contacto {
                padding: 3rem;
                background: url(../imagenes/fondo\ de\ contacto.jpg);
                background-position: center center;
                height: 40rem;
                background-size: cover;
                text-align: center;
                display: flex;
                align-items: center;
                color: white;
                font-size: 4rem;
            }
            
            .parte-de-contacto {
                flex: 1;
            }
            
            .parte-de-contacto p {
                font-size: 3rem;
                text-align: start;
                margin-top: 15rem;
                color: white;
            }
            
            .parte-de-contacto h2 {
                margin-right: 20rem;
            }
            
            .botones3 {
                background-color: rgb(60, 204, 60);
                display: flex;
                justify-content: start
            }
            
            .arreglo {
                color: cornsilk;
                font-weight: 700;
                text-decoration: none;
                font-size: 1.7rem;
                padding: 1rem 6rem;
                margin-top: 1rem;
                display: inline-block;
                text-align: center;
                margin-right: 130rem;
                margin-bottom: 2rem;
                border-radius: 3rem;
            }
            
            .iconos-caracteristicas {
                list-style: none;
                padding: 0rem;
                display: flex;
            }
            
            .iconos-caracteristicas li {
                padding-right: 5rem;
                padding-left: 2rem;
                flex: 1;
            }
            
            .seccion-inferior {
                display: flex;
                justify-content: space-between;
            }
            
            .seccion-inferior .blog {
                flex-basis: 60%;
            }
            
            .seccion-inferior .testimoniales {
                flex-basis: calc(40% - 2rem);
            }
            
            .articulo {
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
            }
            
            .articulo .blog-imagen {
                flex-basis: 40%;
            }
            
            .articulo .blog-texto {
                flex-basis: calc(60% - 3rem);
            }
            
            .blog-texto h4 {
                margin: 0;
                line-height: 2rem;
                font-size: 2rem;
            }
            
            .blog-texto a:hover {
                color: brown;
            }
            
            .blog-texto a {
                text-decoration: none;
                color: black;
            }
            
            .blog-texto h4::after {
                content: ' ';
                display: block;
                width: 14rem;
                height: 0.3rem;
                background-color: cornflowerblue;
                margin-top: 1rem;
            }
            
            .blog-texto span {
                color: orange
            }
            
            .titulo-blog {
                text-align: center center;
                font-size: 3rem;
                margin-top: 5rem;
            }
            
            .blog-texto p {
                font-size: 1.5rem;
            }
            
            .Blocquote {
                background-color: lightseagreen;
                font-size: 2.4rem;
                color: white;
                padding: 5rem 2rem 2rem 2rem;
                border-radius: 3rem;
                font-style: italic;
                border-bottom-left-radius: 10rem;
                border-top-right-radius: 10rem;
            }
            
            .Blocquote p {
                text-align: right;
                margin: 0;
                padding-bottom: 4rem;
            }
            
            .Blocquote blockquote::before {
                content: ' ';
                background-image: url(../imagenes/comilla.svg);
                width: 4rem;
                height: 4rem;
                display: block;
                position: absolute;
                left: -5rem;
                bottom: 12rem;
            }
            
            .Blocquote blockquote {
                position: relative;
            }
            
            .site-footer {
                background-color: #333333;
                margin: 0;
                margin-top: 5rem;
            }
            
            .copyrigth {
                margin: 0;
                color: white;
            }
            
            .contenedor-footer {
                padding-top: 1rem;
                display: flex;
                justify-content: space-between;
            }
            
            .redes-sociales {
                flex: 1;
                margin-left: 1.5rem;
            }
            
            .separacion-redes {
                padding-left: 113rem;
                padding-bottom: 0.5rem;
            }
            
            @media (max-width: 375px) {
                .contenedor2 {
                    max-width: 140rem;
                    margin: 0 auto;
                }
                .barra {
                    display: flex;
                    justify-content: flex-end;
                    justify-content: space-between;
                    padding-bottom: 1rem;
                    background-color: #333333;
                }
                .logo-poscicion {
                    width: 11rem;
                    height: 4rem;
                    padding-top: 1rem;
                }
                .links a {
                    color: rgb(236, 158, 55);
                    text-decoration: none;
                    font-size: 1.3rem;
                    font-weight: 600;
                    margin-right: 0.8rem;
                    font-family: 'Times New Roman', Times, serif;
                }
                .bajo {
                    padding-top: 2.4rem;
                }
                .size-header.inicio {
                    background: url(../imagenes/fondocell.jpg);
                    background-position: center center;
                    background-size: cover;
                    height: 500px;
                    min-height: 50rem;
                }
            }