img{
    max-width: 100%;
} 
  

html{
    font-size: 62.5%;
} 
    


        
        
    
        
        
       .contenedor {
           max-width: 120rem;
           margin: 0 auto;
        
           
       } 
       .contenedor2 {
        max-width: 140rem;
        margin: 0 auto;
        
        
        
        
    } 

       



       .barra{
           display: flex;
           justify-content: flex-end;
           justify-content: space-between;
           padding-bottom: 1rem;
background-color:#333333;
          
       }
       .bajo{
        padding-top: 3rem;

       
    }

       .logo-poscicion{
        width: 33rem ;
        height: 7rem ;
        
    
       
    }
    
       .links a {
           color: white;
           text-decoration: none;
           font-size: 2.1rem;
           margin-right: 2rem;
           font-family: fantasy;
           padding-top: 3rem;

    }

    .links a:hover { 
        color: rgb(10, 10, 10);

             

 }
 .titulo-principal { 
    color: rgb(10, 10, 10);
    font-weight: 600;
    font-size: 3rem;
text-align: center;
margin-bottom: 5rem;
margin-top: 3rem;
         

}


.contenido-nosotros { 
   display: grid;
   grid-template-columns: 50% 50%;
   gap: 3rem;

}




.Texto-nosotros p { 
   background-color:gray;
   margin-top: 1rem;
   font-size: 1.8rem;
   font-weight: 300;
   text-align: justify;
   border-radius: 1rem;
   margin-left: 2rem;
   color: white;
   padding: 2rem 2rem 2rem 2rem;
   font-family: cursive;

}
        
.logos{
    display: flex;
 justify-content: space-between;
 } 
 
 
 .icono{
   flex-basis: calc(33.3% - 1rem);
   padding-top: 20rem;
  
   
 } 

 .relleno {
    
    max-width: 90rem;
    margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
font-size: 3rem;
color: black;
font-family: 'Times New Roman', Times, serif;


 }    
 .relleno p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    
 }     

 

 

 




        
            
            
            .site-footer{
                background-color: #333333;
                margin: 0;
                margin-top: 20rem;
               
                    } 

                    .copyrigth{
                        margin: 0;
                       color: white;
                        
                            } 

            .contenedor-footer{
                                
             padding-top: 1rem;
             display: flex;
             justify-content: space-between;
                               
                                
                                    }
                          
            .redes-sociales{
                                      
              flex: 1;
             margin-left: 1.5rem;
                                        
                                      
                              }

            .separacion-redes{
                                   
            padding-left: 113rem;
            padding-bottom: 0.5rem;
                                              
              } 
                    
