img{
    max-width: 100%;
} 
  

html{
    font-size: 62.5%;
} 
    


        
        
    
        
        
       .contenedor {
           max-width: 120rem;
           margin: 0 auto;
        
           
       } 
       .contenedor2 {
        max-width: 140rem;
        margin: 0 auto;
        
        
        
        
    } 

       



       .barra{
           display: flex;
           justify-content: flex-end;
           justify-content: space-between;
           padding-bottom: 1rem;
background-color:#333333;
          
       }
       .bajo{
        padding-top: 3rem;

       
    }

       .logo-poscicion{
        width: 33rem ;
        height: 7rem ;
        
    
       
    }
    
       .links a {
           color: white;
           text-decoration: none;
           font-size: 2.1rem;
           margin-right: 2rem;
           font-family: fantasy;
           padding-top: 3rem;

    }

    .links a:hover { 
        color: rgb(10, 10, 10);

             

 }
 
 
 #titulo-terciario{
    color: rgb(19, 25, 78);
    text-align: center;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2rem;
}


.logos{
    display: flex;
 justify-content: space-between;
 } 

.anuncio{

    flex-basis: calc(33.3% - 1rem);
    border-style: double;
    border-color: black  ;
    border-width: 1rem;
    background: silver;
    padding: 2rem;
    margin: 0rem 2rem 0rem 3rem;
}

.productos{
    padding: 5rem;
}
.dinero{
   color: brown;
   font-weight: 700 ;

}

.boton{
    color: cornsilk;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    text-align: center;
}
.botonn{
    color: cornsilk;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    text-align: center;
    margin-bottom: 3rem;
}


.botones{
    background-color: orange;
    display: block;
    
 }

 .botones2{
     background-color: rgb(60, 204, 60);
     border-radius: 3rem;
     
    
 }
 .alineadoizquierda{
     display: flex;
     justify-content: center
    
}

.iconos-caracteristicas{
    list-style: none;
    padding: 0rem;
    display: flex;
  
}
.iconos-caracteristicas li{
    
    padding-right: 5rem;
    padding-left: 2rem;
    flex: 1;

}
 

 




        
            
            
            .site-footer{
                background-color: #333333;
                margin: 0;
                margin-top: 20rem;
               
                    } 

                    .copyrigth{
                        margin: 0;
                       color: white;
                        
                            } 

            .contenedor-footer{
                                
             padding-top: 1rem;
             display: flex;
             justify-content: space-between;
                               
                                
                                    }
                          
            .redes-sociales{
                                      
              flex: 1;
             margin-left: 1.5rem;
                                        
                                      
                              }

            .separacion-redes{
                                   
            padding-left: 113rem;
            padding-bottom: 0.5rem;
                                              
              } 